# OpenAI
OPENAI_API_KEY="<openai-api-key>"

# Auth0 FGA
FGA_STORE_ID="<fga-store-id>"
FGA_CLIENT_ID="<fga-client-id>"
FGA_CLIENT_SECRET="<fga-client-secret>"
# Required only for non-US regions
FGA_API_URL="https://api.xxx.fga.dev"
FGA_API_AUDIENCE="https://api.xxx.fga.dev/"

# OpenFGA (API Token)
#FGA_API_URL=http://localhost:8080
#FGA_API_TOKEN=<your-openfga-api-token>

# OpenFGA (Client Credentials)
#FGA_API_URL=http://localhost:8080
#FGA_API_TOKEN_ISSUER=<your-openfga-token-issuer>
#FGA_CLIENT_ID=<your-openfga-client-id>
#FGA_CLIENT_SECRET=<your-openfga-client-secret>

# Langchain
LANGGRAPH_API_URL="http://localhost:54367"